#habits {
    background-color: white;
    height: 20rem;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    border-radius: 0.25rem;
    width: calc(100vw - 2rem);
    margin: 0 auto;
    margin-top: 1rem;
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

.habits-tracker {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.habit-item {
    box-shadow: 0px 0px 5px inset rgba(0,0,0,0.4);
    height: 5rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 1rem;
   
}

.habit-item-text {
    
    width: max-content;
    padding: 1rem 3rem;
    div {
        font-size: 2rem;
        font-weight: 200;
    }
}

.habit-item-remove {
    background-color: grey;
    grid-area: 1 / 1 / span 1 / span 1;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    padding-block: calc(50% - 1rem);
}

.habit-item-check {
    background-color: rgb(46, 182, 98);
    grid-area: 1 / 8 / span 1 / span 1;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 2rem;
    text-align: center;
    padding-block: calc(50% - 1rem);
}